<%= form_for(@photo, id: 'link') do |f| %>
		
	<div class="row">

	    <div class="col-xs-6 col-sm-6 col-md-3" id="gozine">
	        <select id="Ultra1" multiple class="form-control list" onchange="chosechanel()">  
	            <%= selectchannel %>
	        </select>
	    </div>

	</div>	

		<div class="form-group">
			<%= f.label :chat_id %>
			<%= f.text_field :chat_id, class: 'form-control', id: 'srt1' %>
		</div>

		<div class="form-group">
			<%= f.label :photo %>
			<%= f.file_field(:photo, :id => 'upload-buttom', :class => "btn btn-success btn-lg", :onchange => "readURL1(this);") %>
		</div>


		<div class="form-group col-xs-12 col-sm-12 col-md-6">
			<%= f.label :text %>
			<%= f.text_area :caption, class: 'form-control', size: "20x20" %>
		</div>

        <div class="col-xs-12 col-sm-12 col-md-6" id="image-box">

            <%= image_tag("",id: 'img', :class => 'img-responsive img-thumbnail', :alt => 'PREVIEW YOUR PHOTO') %>

        </div>

	<%= f.submit "Submit", class: 'btn btn-primary col-xs-12 col-sm-12 col-md-6"' %>
<% end %>

